.btn {
  box-sizing: border-box;
  font-size: 18px;
  width: auto;
  border: none;
  background-color: transparent;
  cursor: pointer;
  padding: 4px 8px;
  display: flex;
  gap: 4px;
  align-items: center;
  justify-content: center;
  color: var(--btn-color);
}

.btn:hover:not(:disabled) {
  color: var(--btn-hover-color);
}

.btn:disabled {
  color: var(--btn-disabled-color);
  cursor: default;
}
