.btn {
  all: unset;
  box-sizing: border-box;
  font-size: 18px;
  width: 100%;
  box-sizing: border-box;
  border-radius: 4px;
  background-color: var(--bg-light-color);
  color: var(--bg-color);
  width: auto;
  cursor: pointer;
  padding: 4px 8px;
}

.btn:disabled {
  background-color: var(--bg-color);
  color: #d4d4d8;
  cursor: default;
}
