.textbox,
.btn {
  all: unset;
  box-sizing: border-box;
  font-size: 18px;
  width: 100%;
  box-sizing: border-box;
  border-radius: 4px;
  background-color: var(--bg-light-color);
  color: var(--bg-color);
}

.textbox:disabled {
  background-color: var(--bg-light-color);
  color: inherit;
  cursor: default;
}

.noteNumber {
  margin: 0 6px;
}

.textbox {
  padding: 2px 4px;
}

.btn-nav {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  min-width: 40px;
}

.footer {
  display: flex;
  justify-content: space-between;
  gap: 16px;
}

.box {
  margin: 24px 32px;
  width: 640px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.header {
  background-color: #f5f5f5;
  padding: 0 8px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
}

.header-left,
.header-right {
  display: flex;
  align-items: center;
  gap: 4px;
}
