@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --text-color: #a1a1aa; /* zinc-400 */
  --bg-color: #27272a; /* zinc-800 */
  --error-color: #b91c1c; /* red-700 */
  --success-color: #059669; /* emerald-600 */

  --textbox-color: #52525b; /* zinc-600 */
  --textbox-disabled-color: #3f3f46; /* zinc-700 */

  --btn-color: #a1a1aa; /* zinc-400 */
  --btn-hover-color: #d4d4d8; /* zinc-300 */
  --btn-disabled-color: #52525b; /* zinc-600 */
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

html,
body,
#root {
  height: 100%;
  background-color: var(--bg-color);
  color: var(--text-color);
}

body {
  font-family: "Roboto", sans-serif;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
